

/*****************************************************************************/

/************************************ FAQ ************************************/

/*****************************************************************************/
.faq-cont {
    width: 680px;
    margin: 20px 0 0;
    padding: 5px;
}

.faq-ques {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;

    margin: 10px 0;

    color: #56cacc;
}

.faq-ans {
    font-size: 14px;
    font-weight: 300;

    color: #727272;
}

.faq-lside {
    width: 680px;
}

.faq-rside {
    width: 260px;
    margin: 30px 0 0;
}

.faq-risde-title {
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;

    color: #5d5a5a;
}

.faq-rside-ques {
    font-size: 18px;
    font-weight: 200;
    line-height: 18px;
    line-height: 20px;

    margin: 10px 0;

    color: #5dc6cf;
}

:target {
    background-color: #dafcff;
}

/*********************************************************************************/

/************************************ END FAQ ************************************/

/*********************************************************************************/



